* {
	font-family: Arial;
}

.pagina {
	max-width: 1024px;
    margin: auto;    
	border: 1em dashed red;
	padding: 1em;
}

.pagina,
.cabecalho {
	text-align: center;
}

.cabecalho {
	background-color: #D3D3D3;
    padding: 0.7em 1em 1em 1em;
    font-size: 18pt;
    border-radius: 0.5em;
}

.regulamento {
	padding: 1em; 
	text-align: justify; 
	border-bottom: 1px solid #666;
}

.cabecalho,
.dadosGerais,
.local  label,
.dataHoraOcorrencia div {
	font-weight: bold;
}

.dadosGerais,
.divSituacao,
.dataHoraOcorrencia,
.relator {	
    padding-top: 1em;
}

.local,
.contato {
	padding-top: 2em;
}

.local label,
.local input,
.dataHoraOcorrencia div,
.dataHoraOcorrencia div label,
.dataHoraOcorrencia div input,
#PessoalEnvolvido,
.relator label,
.contato label {
	padding: 0;
}

.local,
.dataHoraOcorrencia,
.divPessoalEnvolvido,
.divSituacao,
.relator,
.contato {
	text-align: left;
}

.local,
.dataHoraOcorrencia {
	height: 6em;
}

.divPessoalEnvolvido {
	height: 8em;	
}

.divSituacao {
	height: 10em;
}

#PessoalEnvolvido {
	resize: none;
}