.abas,
#navAbas,
#descricaoEncaminhamento,
#descricaoResposta,
#descricaoAcoesRecomendadas,
#descricaoParecerDoSetor,
#botoesDadosGerais {
	margin-top: 1em;
}

.dadosGerais {
	margin: auto;
}

textarea {
	display: block;
	max-height: 220px;
	resize: none;
	margin-top: 1em;
}

.aba,
textarea {
	height: 100%;
	width: 100%;
}

.tituloAba {
	padding-top: 2em;
}

.camposAba {
	padding-top: 1.5em
}

.aba label {
	padding-left: 0;	
}

.camposAba input {
	max-width: 175px;
}

.dadosGerais .btn-group-vertical {
	float: left;
	margin-top: 6em;
}

.dadosGerais #abas {
	border-top: none;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.camposAba div {
	display: inline-block;
}

#abas {
	height: 410px;	
}

.nav-tabs>li {
	cursor: pointer;
}

.avaliacao label,
.reavaliacao label {
	float: left;
	line-height: 34px;
}

.avaliacaoReavaliacao .risco {
	padding: 15px;
}

.avaliacaoReavaliacao .row div {
	margin: 0;
}