#titulo{
    background-color: #ebebeb;
    border-radius: 4px;
    margin-top: 20px;
}

#borda{
     background: url('../img/borda.png') repeat-x 50px 0, url('../img/borda.png') repeat-x bottom,
         url('../img/borda-vertical.png') repeat-y left, url('../img/borda-vertical.png') repeat-y right;
     max-width: 850px;
     padding-top: 10px;
     margin-top: 15px;
     margin-bottom: 15px;
}

.labelMaiuscula{
	text-transform:uppercase;
}

#aviso{
    margin-top: 15px;
    padding: 5px;
    border: 2px black solid;
}

#sessao{
    float: right;
}

#topo{
    margin-bottom: 10px;
}

.item-relatorio{
    background-color: #eee;
    padding: 20px;
    margin-top: 15px;
}

#botoesRelatorio,
#botoesDadosGerais {
	max-width: 200px; 
	margin-bottom: 20px;
}

.tituloPagina{
    font-size: 150%;
}